@charset "UTF-8";
body {
  width: 100%;
  margin: 0px;
  padding: 0px;
  font-family: arial;
  background-color: #e0ecec; }
  body .container {
    width: 1210px;
    margin: 0 auto; }
  body header {
    background: #416482;
    height: 55px;
    border-bottom: 4px solid #2a333c; }
    body header .my.my_w::before {
      font-size: 170px;
      position: absolute;
      top: -65px;
      color: #ced8e1; }
    body header .auth_path {
      float: right; }
      body header .auth_path ul {
        position: relative; }
        body header .auth_path ul li {
          display: inline-block; }
          body header .auth_path ul li .my.my_k::before {
            font-size: 18px;
            top: 5px;
            left: 48px;
            position: absolute; }
          body header .auth_path ul li .auth_link {
            font-weight: bold;
            font-size: 13px;
            color: #f6f6f6;
            margin-top: -5px;
            display: block;
            text-decoration: none;
            padding: 8px 10px 8px 28px;
            border-radius: 8px; }
            body header .auth_path ul li .auth_link span {
              line-height: 28px; }
          body header .auth_path ul li .auth_link:hover {
            background-color: #2a333c;
            -webkit-box-shadow: inset 0px 1px 9px 0px rgba(0, 0, 0, 0.55);
            -moz-box-shadow: inset 0px 1px 9px 0px rgba(0, 0, 0, 0.55);
            box-shadow: inset 0px 1px 9px 0px rgba(0, 0, 0, 0.55); }
          body header .auth_path ul li .auth_out {
            text-transform: uppercase;
            padding: 14px 15px 15px 15px; }
  body ul.date_time_path {
    position: relative; }
    body ul.date_time_path li {
      display: inline-block;
      position: relative;
      color: #646868;
      margin-left: 30px; }
      body ul.date_time_path li .my.my_j:before, body ul.date_time_path li .my.my_i:before {
        font-size: 25px;
        position: absolute;
        left: -22px;
        top: -8px; }
      body ul.date_time_path li span {
        font-family: arial;
        font-weight: bold;
        font-size: 13px;
        color: #416482; }
  body main.main_board {
    background-color: #fff;
    -webkit-box-shadow: -1px 2px 25px 0px rgba(50, 50, 50, 0.4);
    -moz-box-shadow: -1px 2px 25px 0px rgba(50, 50, 50, 0.4);
    box-shadow: -1px 2px 25px 0px rgba(50, 50, 50, 0.4);
    border-radius: 8px;
    position: relative;
    margin-bottom: 105px; 
    width: 1210px;}
    body main.main_board .main_board_h1 {
      font-size: 27px;
      padding: 7px 0px 7px 52px;
      margin: 0px;
      background-color: #e7eff1;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      width: 1159px;
      position: relative;
      -webkit-box-shadow: inset 0px -1px 2px 0px rgba(0, 0, 0, 0.55);
      -moz-box-shadow: inset 0px -1px 2px 0px rgba(0, 0, 0, 0.55);
      box-shadow: inset 0px -1px 2px 0px rgba(0, 0, 0, 0.55); }
      body main.main_board .main_board_h1 span {
        font-family: arial;
        background-color: #565656;
        color: transparent;
        text-shadow: 0px 2px 3px rgba(255, 255, 255, 0.5);
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text; }
    body main.main_board .app_form_search {
      float: right;
      padding: 0px 15px 0px 0px;
      margin-top: -5px;
      position: relative; }
      body main.main_board .app_form_search .my.my_h:before {
        position: absolute;
        top: 13px;
        left: 12px;
        font-size: 16px; }
      body main.main_board .app_form_search .app_search {
        font-family: arial;
        text-transform: uppercase;
        -webkit-box-shadow: inset 0px 1px 5px 0px rgba(0, 0, 0, 0.15);
        -moz-box-shadow: inset 0px 1px 5px 0px rgba(0, 0, 0, 0.15);
        box-shadow: inset 0px 1px 5px 0px rgba(0, 0, 0, 0.15);
        padding: 2px 0 2px 21px; 
        position: relative;}
    body main.main_board .my.my_g::before {
      position: absolute;
      top: 8px;
      left: 23px;
      color: #687780; }
    body main.main_board .menu_main_board {
      display: flex;
      justify-content: space-around; }
      body main.main_board .menu_main_board .menu_main_link {
        position: relative;
        text-align: center;
        padding: 0px 10px 3px 10px;
        margin: 18px 0 18px 0;
        cursor: pointer;
        transition: 145ms; }
        body main.main_board .menu_main_board .menu_main_link .my.my_a::before, body main.main_board .menu_main_board .menu_main_link .my.my_b::before, body main.main_board .menu_main_board .menu_main_link .my.my_c::before, body main.main_board .menu_main_board .menu_main_link .my.my_d::before, body main.main_board .menu_main_board .menu_main_link .my.my_e::before, body main.main_board .menu_main_board .menu_main_link .my.my_f::before {
          font-size: 145px; }
        body main.main_board .menu_main_board .menu_main_link .my.my_a::before {
          color: #579ac7; }
        body main.main_board .menu_main_board .menu_main_link .my.my_b::before {
          color: #009a78; }
        body main.main_board .menu_main_board .menu_main_link .my.my_c::before {
          color: #bb67cf; }
        body main.main_board .menu_main_board .menu_main_link .my.my_d::before {
          color: #195b8f; }
        body main.main_board .menu_main_board .menu_main_link .my.my_e::before {
          color: #067c1c; }
        body main.main_board .menu_main_board .menu_main_link .my.my_f::before {
          color: #db0000; }
        body main.main_board .menu_main_board .menu_main_link span {
          display: block;
          font-family: arial;
          font-size: 17px;
          text-transform: uppercase;
          color: #2a333c;
          padding-top: 6px; }
      body main.main_board .menu_main_board .menu_main_link:hover {
        background-color: #e0ecec;
        border-radius: 10px;
        -webkit-box-shadow: inset 0px 2px 7px 0px rgba(0, 0, 0, 0.55);
        -moz-box-shadow: inset 0px 2px 7px 0px rgba(0, 0, 0, 0.55);
        box-shadow: inset 0px 2px 7px 0px rgba(0, 0, 0, 0.55);
        transition: 150ms; }
      body main.main_board .menu_main_board .count_app {
        border-radius: 100%;
        border: 3px solid #f2e00c;
        position: absolute;
        width: 33px;
        height: 33px;
        background-color: #fff;
        top: 15px;
        left: 100px;
        font-family: arial;
        font-size: 14px;
        color: #416482;
        line-height: 35px; }
    body main.main_board .person_card {
      background-color: #c9d3dc;
      padding: 10px;
      position: relative; }
      body main.main_board .person_card input {
        padding: 3px;
        padding-left: 30px;
        font-size: 17.33px;
        font-family: arial;
        color: #2a333c;
        -webkit-box-shadow: inset 0px 2px 1px 0px rgba(0, 0, 0, 0.25);
        -moz-box-shadow: inset 0px 2px 1px 0px rgba(0, 0, 0, 0.25);
        box-shadow: inset 0px 2px 1px 0px rgba(0, 0, 0, 0.25);
        margin: 0px 5px 0px 5px; }
      body main.main_board .person_card input::-webkit-input-placeholder {
        color: #2a333c; }
      body main.main_board .person_card input:-moz-placeholder {
        color: #2a333c; }
    body main.main_board .person_card_phone {
      background-size: 40px 40px;
      margin-left: 13px;
      width: 170px;
      position: relative;
      background: url("../../admin/images/person_card_phone.svg") no-repeat -85px 0px;
      background-size: 100% 95%;
      background-color: #fff; }
    body main.main_board .person_card_adress {
      width: 245px;
      position: relative;
      background: url("../../admin/images/person_card_adress.svg") no-repeat -125px 0px;
      background-size: 100% 95%;
      background-color: #fff; }
    body main.main_board .person_card_name {
      width: 145px;
      position: relative;
      background: url("../../admin/images/person_card_name.svg") no-repeat -75px 0px;
      background-size: 100% 95%;
      background-color: #fff; }
    body main.main_board .person_card_number {
      width: 65px;
      padding-left: 75px !important;
      position: relative; }
    body main.main_board label:before {
      content: "Карта №";
      position: absolute;
      left: 735px;
      top: 17px;
      color: #2a333c; }
    body main.main_board .person_card_submit {
      padding: 5px 33px 5px 10px;
      border-radius: 5px;
      color: #fff;
      text-transform: uppercase;
      font-size: 17.33px;
      font-family: arial;
      float: right;
      margin-right: 15px;
      -webkit-box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.25);
      -moz-box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.25);
      box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.25);
      cursor: pointer;
      background: url("../../admin/images/person_card_submit.svg") no-repeat 68px 6px;
      background-size: 75% 60%;
      background-color: #486680; }
    body main.main_board .person_card_submit:active {
      -webkit-box-shadow: 0px 0px 5px 0px white;
      -moz-box-shadow: 0px 0px 5px 0px white;
      box-shadow: 0px 0px 5px 0px white; }
    body main.main_board .cur_application {
      border-collapse: collapse; }
    body main.main_board .cur_application_head {
      background-color: #f5f5f5;
      border-top: solid 2px #98abbb;
      border-bottom: solid 2px #98abbb; }
      body main.main_board .cur_application_head tr td {
        padding: 10px 21px 12px 21px;
        font-size: 13.33px;
        color: #416482;
        text-transform: uppercase;
        font-weight: bold;
        text-align: center; }
      body main.main_board .cur_application_head .cur_application_number_head {
        width: 50px; }
      body main.main_board .cur_application_head .cur_application_product_head {
        width: 550px; }
      body main.main_board .cur_application_head .cur_application_count_head {
        width: 95px; }
      body main.main_board .cur_application_head .cur_application_change_count_head {
        width: 173px; }
      body main.main_board .cur_application_head .cur_application_delete_count_head {
        width: 105px; }
      body main.main_board .cur_application_head .cur_application_cost_head {
        width: 129px; }
      body main.main_board .cur_application_head .cur_application_summ_head {
        width: 75px; }
    body main.main_board .cur_application_body {
      text-transform: uppercase;
      font-size: 17.33px;
      color: #2a333c;
      text-align: center;
      font-weight: bold; }
      body main.main_board .cur_application_body tr td {
        border: solid 2px #d4d4d4;
        padding-top: 1px;
        padding-bottom: 1px; }
      body main.main_board .cur_application_body tr .cur_application_change_count_body,
      body main.main_board .cur_application_body tr .cur_application_delete_count_body {
        background-color: #e3e3e3; }
    body main.main_board .my.my_q, body main.main_board .my.my_r, body main.main_board .my.my_s {
      text-transform: lowercase;
      font-size: 25px;
      cursor: pointer; }
    body main.main_board .my.my_q {
      color: #80c685;
      float: left;
      margin-left: 35px; }
    body main.main_board .my.my_r {
      color: #9ca8b2;
      float: right;
      margin-right: 35px; }
    body main.main_board .my.my_s {
      color: #e28181; }
    body main.main_board tr.cur_application_body_add_product {
      cursor: pointer; }
      body main.main_board tr.cur_application_body_add_product td {
        padding-top: 6px;
        padding-bottom: 5px;
        background-color: #f5f5f5; }
      body main.main_board tr.cur_application_body_add_product td.cur_application_number_body, body main.main_board tr.cur_application_body_add_product td.cur_application_product_body {
        color: #a0a0a2; }
      body main.main_board tr.cur_application_body_add_product td.cur_application_change_count_body,
      body main.main_board tr.cur_application_body_add_product td.cur_application_delete_count_body {
        background-color: #f5f5f5; }
  body .comment_and_summ_block {
    background-color: #ced8e1;
    border-top: solid 1px #9aadbe;
    border-bottom: solid 1px #9aadbe;
    overflow: hidden; }
    body .comment_and_summ_block .comments {
      float: left;
      margin: 6px 12px; }
      body .comment_and_summ_block .comments label {
        display: block;
        font-size: 11.33px;
        padding: 6px 0 12px 0; }
      body .comment_and_summ_block .comments .comments_textarea {
        padding: 8px 10px;
        font-size: 16.33px; }
    body .comment_and_summ_block .all_summ {
      float: right;
      margin: 6px 12px; }
      body .comment_and_summ_block .all_summ label {
        display: block;
        font-size: 11.33px;
        padding: 6px 0 12px 0; }
      body .comment_and_summ_block .all_summ .all_summ_textarea {
        display: block;
        width: 238px;
        font-size: 23.67px;
        font-weight: bold;
        background-color: #fff;
        border: 1px solid #9aadbe;
        padding: 14px 10px;
        box-sizing: border-box; }
  body #comments_textarea {
    width: 900px;
    max-width: 900px;
    border: 1px solid #9aadbe; }
  body ul.app_manage_buttons {
    -webkit-padding-start: 0px;
    position: relative; }
    body ul.app_manage_buttons li {
      position: relative;
      display: inline-block;
      font-size: 26.67px;
      font-weight: bold;
      text-transform: uppercase; }
      body ul.app_manage_buttons li .app_button_accepted {
        padding: 8px 15px 6px 50px;
        color: #fff;
        -webkit-box-shadow: inset 1px 1px 5px 0px rgba(0, 0, 0, 0.45);
        -moz-box-shadow: inset 1px 1px 5px 0px rgba(0, 0, 0, 0.45);
        box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.45);
        background: url("../../admin/images/app_button_accepted.svg") no-repeat 5px 0px;
        background-size: contain;
        background-color: #579ac7;
        margin: 8px 6px 8px 12px;
        cursor: pointer; }
      body ul.app_manage_buttons li .app_button_ready {
        padding: 8px 15px 6px 50px;
        color: #fff;
        -webkit-box-shadow: inset 1px 1px 5px 0px rgba(0, 0, 0, 0.45);
        -moz-box-shadow: inset 1px 1px 5px 0px rgba(0, 0, 0, 0.45);
        box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.45);
        background: url("../../admin/images/app_button_ready.svg") no-repeat 5px 0px;
        background-size: contain;
        background-color: #009a78;
        margin: 8px 6px;
        cursor: pointer; }
      body ul.app_manage_buttons li .app_button_check_num {
        padding: 8px 15px 6px 15px;
        color: #d1d2d3;
        -webkit-box-shadow: inset 1px 1px 5px 0px rgba(0, 0, 0, 0.45);
        -moz-box-shadow: inset 1px 1px 5px 0px rgba(0, 0, 0, 0.45);
        box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.45);
        background: url("../../admin/images/app_button_accepted.svg") no-repeat 5px 0px;
        background-size: contain;
        background-color: #fff;
        margin: 8px 6px;
        cursor: pointer; }
      body ul.app_manage_buttons li .app_button_onway {
        padding: 8px 15px 6px 50px;
        color: #fff;
        -webkit-box-shadow: inset 1px 1px 5px 0px rgba(0, 0, 0, 0.45);
        -moz-box-shadow: inset 1px 1px 5px 0px rgba(0, 0, 0, 0.45);
        box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.45);
        background: url("../../admin/images/app_button_onway.svg") no-repeat 2px 0px;
        background-size: contain;
        background-color: #8298bd;
        margin: 8px 6px;
        cursor: pointer; }
      body ul.app_manage_buttons li .app_button_delivered {
        padding: 8px 15px 6px 50px;
        color: #fff;
        -webkit-box-shadow: inset 1px 1px 5px 0px rgba(0, 0, 0, 0.45);
        -moz-box-shadow: inset 1px 1px 5px 0px rgba(0, 0, 0, 0.45);
        box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.45);
        background: url("../../admin/images/app_button_delivered.svg") no-repeat 5px 0px;
        background-size: contain;
        background-color: #82bd8d;
        margin: 8px 6px;
        cursor: pointer; }
      body ul.app_manage_buttons li .__active {
        box-shadow: inset 1px 1px 5px 0px rgba(0, 0, 0, 0.45); }
      body ul.app_manage_buttons li .app_button_delete {
        font-size: 17.33px;
        font-weight: 300;
        background: url("../../admin/images/app_button_delete.svg") no-repeat 88px 0px;
        background-size: 20% 90%;
        background-color: #db0000;
        color: #fff;
        cursor: pointer;
        box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.45);
        padding: 4px 25px 4px 8px;
        border-radius: 5px;
        margin: 0px 0px 0px 70px; }


.get_active_status {
  background-color: orange !important;
}


.cur_application_body_add_product {
  position: relative;
}

.addProductWindow {
  display: none;
  position: absolute;
  width: 640px;
  height: 250px;
  box-shadow: 2px 2px 5px 7px rgba(0,0,0,0.4);
  background: #fff;
  z-index: 100;
  overflow: auto;
}

.addProductWindow ul {
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px;
}

.addProductWindow ul li {
  color: #416482;
  font-size: 17.33px;
  font-family: arial;
  text-transform: uppercase;
  font-weight: bold;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 10px;
  border-bottom: 2px solid #d4d4d4;
  text-align: left;
  list-style-type: none;
}

.addProductWindowClose {
  padding: 5px 33px 5px 10px;
  border-radius: 5px;
  color: #fff;
  text-transform: uppercase;
  font-size: 17.33px;
  font-family: arial;
  float: right;
  margin-right: 15px;
  -webkit-box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  background: url(../../admin/images/person_card_submit.svg) no-repeat 68px 6px;
  background-size: 75% 60%;
  background-color: #486680;  
}

.search_result {
    background: #FFF;
    border: 1px #ccc solid;
    width: 190px;
    border-radius: 4px;
    max-height: 200px;
    overflow-y: scroll;
    display: none;
    position: absolute;
    z-index: 100;
    font-size: 17.33px;
    top: 34px;
    left: 7px;
    cursor: pointer;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
}

.search_result li {
    list-style-type: none;
    margin-bottom: 3px;
}

.search_result li a {
    text-decoration: none;
    color: #000;
    padding-left: 10px;
}

.search_result li a:hover {
  color: orange;
}

.addProductWrapper {
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  display: none;
  z-index: 50;
  top: 0;
  left: 0;
}

.admin_delete_comment_wrapper {
  position: absolute;
  width:1054px;
  height:520px;
  top: 10%;
  left:50%; 
  margin-left:-527px;
  z-index: 100;
  background: #fff;
  text-align: center;
  overflow: hidden;
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.5);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.admin_delete_comment_wrapper h1 {
  text-align: left;
}

.admin_delete_comment {
  width: 1010px;
  height: 330px;
  margin: 20px auto;
  border: 2px solid #d8dde2;
}

.admin_delete_background {
  position: absolute;
  background: rgba(0, 0, 0, 0.6);
  display: none;
  z-index: 50;
  top: 0;
  left: 0;
}

.admin_delete_button_wrapper {
  display: flex;
  width: 185px;
  float: right;
  justify-content: space-between;
  align-items: center;
  margin-right: 20px;
}

.app_button_delete_order {
  cursor: pointer;
  background: #9ab93a;
  color: #fff;
  text-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding: 5px 8px;
  box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.3);
}

.app_button_delete_order_cancel {
  cursor: pointer;
  background: #d3d4d4;
  color: #000;
  text-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding: 5px 8px;  
  box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.3);
}


.getAdminCommentDelete {
  margin: 20px auto;
  width: 1160px;
  min-height: 165px;
  border: 2px solid #d8dde2;
  display: block;
  padding: 10px;
}

